In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('laptop_price.csv', encoding='latin1')
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [3]:
# df['Cpu_Company'] = df['Cpu'].apply(lambda i : i.split(' ')[0])
df['Cpu_Company'] = df['Cpu'].str.split(' ').str.get(0)
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel

In [4]:
def convert_to_gb(x):
    memory=x.split(' ')[0]
    if memory.endswith('GB'):
        return int(memory.replace('GB', ''))
    else: 
        return int(float(memory.replace('TB', ''))*1024)

In [5]:
df['Memory_Amount'] = df['Memory'].apply(convert_to_gb)
#df['Memory_Amount'] = df['Memory'].apply(lambda i: int(i.split(' ')[0].replace('GB', '')) if 'GB' in i else int(float(i.split(' ')[0].replace('TB', ''))*1024))

df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256

In [6]:
def convert_to_type(x):
    
    return x.replace(' ', '').split('B')[-1]

In [7]:
df['Memory_Type'] = df['Memory'].apply(convert_to_type)
df.head()
df['Memory_Type'].value_counts()

SSD             641
HDD             576
FlashStorage     74
Hybrid           12
Name: Memory_Type, dtype: int64

In [8]:
df.drop(columns = ['Memory', 'ScreenResolution'], inplace = True)
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,FlashStorage
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD

In [9]:
df['SSD'] = 0.2
df.head(2)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,0.2
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,FlashStorage,0.2

In [10]:
df['SSD'] = df['Memory_Type'].apply(lambda x: 1 if x == 'SSD' else 0)
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,FlashStorage,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD,1
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD,1

In [11]:
df['Weight'] = df['Weight'].apply(lambda x: x[:-2] if x.endswith('kg') else x)
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,FlashStorage,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256,SSD,1
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512,SSD,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256,SSD,1

In [12]:
df['Weight'].describe()

count     1303
unique     179
top        2.2
freq       121
Name: Weight, dtype: object

In [13]:
df['Weight'] = df['Weight'].astype(float)
df['Weight'].describe()

count    1303.000000
mean        2.038734
std         0.665475
min         0.690000
25%         1.500000
50%         2.040000
75%         2.300000
max         4.700000
Name: Weight, dtype: float64

In [17]:
clients = pd.DataFrame({
 'client_ID': [45, 32, 67, 33, 43],
 'laptop_ID': [506, 398, 710, 120, 1999]
})
clients

   client_ID  laptop_ID
0         45        506
1         32        398
2         67        710
3         33        120
4         43       1999

In [18]:
laptop_ID = df.set_index('laptop_ID')
laptop_ID.head()

,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_ID,,,,,,,,,,,,,,
1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128,SSD,1
2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128,FlashStorage,0
3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256,SSD,1
4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512,SSD,1
5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256,SSD,1

In [19]:
client_ID = clients.set_index('laptop_ID')
client_ID.head()

           client_ID
laptop_ID
506               45
398               32
710               67
120               33
1999              43

In [20]:
client_ID.join(laptop_ID).reset_index()

,laptop_ID,client_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
1,398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
3,120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256.0,HDD,0.0
4,1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
client_ID.shape

(5, 1)

In [24]:
merged = df.merge(clients, on = 'laptop_ID')
merged.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD,client_ID
0,120,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,256,HDD,0,33
1,506,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256,SSD,1,45
2,710,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024,HDD,0,67

In [25]:
merged.shape

(3, 16)

Задание 4.
Составьте несколько сводных таблиц
4.1 Найдите среднюю стоимость ноутбуков в зависимости 
от компании производителя
Отсортируйте от меньшей стоимости к большей
4.2 Найдите минимальную, среднюю и максимальную 
стоимости ноутбуков в зависимости от производителя 
процессора
4.3 Постройте таблицу с подсчетом количества ноутбуков в 
данных в зависимости от производителя CPU и ОЗУ
4.4 Постройте таблицу с подсчетом средней стоимости 
ноутбуков в данных в зависимости от операционной 
системы и GB памяти
Задание 4.
Составьте несколько сводных таблиц
4.1 Найдите среднюю стоимость ноутбуков в зависимости 
от компании производителя
Отсортируйте от меньшей стоимости к большей
4.2 Найдите минимальную, среднюю и максимальную 
стоимости ноутбуков в зависимости от производителя 
процессора
4.3 Постройте таблицу с подсчетом количества ноутбуков в 
данных в зависимости от производителя CPU и ОЗУ
4.4 Постройте таблицу с подсчетом средней стоимости 
ноутбуков в данных в зависимости от операционной 
системы и GB памяти

In [26]:
df.groupby('Company').agg({'Price_euros' : 'mean'}).sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

In [28]:
df.groupby('Cpu_Company').agg({'Price_euros' : ['min', 'max','mean']})

            Price_euros
                    min     max         mean
Cpu_Company
AMD               199.0  2199.0   560.638871
Intel             174.0  6099.0  1152.214145
Samsung           659.0   659.0   659.000000

In [30]:
df.pivot_table(index='Cpu_Company',columns ='Ram', values ='Weight', aggfunc = 'count', fill_value = 0)

Ram          12GB  16GB  24GB  2GB  32GB  4GB  64GB  6GB  8GB
Cpu_Company
AMD             2     3     0    1     0   31     0   13   12
Intel          23   197     3   21    17  343     1   28  607
Samsung         0     0     0    0     0    1     0    0    0

In [32]:
pd.crosstab(index=df['Cpu_Company'] ,columns =df['Ram'])

Ram          12GB  16GB  24GB  2GB  32GB  4GB  64GB  6GB  8GB
Cpu_Company
AMD             2     3     0    1     0   31     0   13   12
Intel          23   197     3   21    17  343     1   28  607
Samsung         0     0     0    0     0    1     0    0    0

In [35]:
df.groupby(['OpSys', 'Memory_Amount']).agg({'Price_euros' : 'mean'}).unstack('Memory_Amount').fillna(0)

              Price_euros                                               \
Memory_Amount        8       16          32          64           128
OpSys
Android               0.0    0.00    0.000000  434.000000     0.000000
Chrome OS             0.0  305.38  412.454545  774.333333  1275.000000
Linux                 0.0    0.00    0.000000    0.000000   742.250000
Mac OS X              0.0    0.00    0.000000    0.000000  1099.000000
No OS                 0.0    0.00    0.000000    0.000000   562.140000
Windows 10         2249.0    0.00  270.001471  499.716000  1026.489167
Windows 10 S          0.0    0.00    0.000000  308.995000  1039.000000
Windows 7             0.0    0.00    0.000000    0.000000  1320.323333
macOS                 0.0    0.00    0.000000    0.000000  1119.315000

                                                                             \
Memory_Amount    180     240          256         500     508          512
OpSys
Android           0.0     0.0     0.000000    0.000000     0.0     0.000000
Chrome OS         0.0     0.0  1559.000000    0.000000     0.0  2199.000000
Linux             0.0     0.0   811.638125  389.056364     0.0     0.000000
Mac OS X          0.0     0.0  1311.994000    0.000000     0.0  1222.000000
No OS             0.0     0.0   782.989286  404.675385     0.0  1098.500000
Windows 10     1073.5  3100.0  1334.456872  664.717647     0.0  1911.985285
Windows 10 S      0.0     0.0  1668.950000    0.000000     0.0  2589.000000
Windows 7      1199.0     0.0  1846.466800  924.048333  1002.0  2235.396667
macOS             0.0     0.0  1600.370000    0.000000     0.0  2180.870000


Memory_Amount         1024      2048
OpSys
Android           0.000000    0.0000
Chrome OS         0.000000    0.0000
Linux           581.401290    0.0000
Mac OS X          0.000000    0.0000
No OS           540.539600  594.0000
Windows 10      904.827906  666.9475
Windows 10 S      0.000000    0.0000
Windows 7      1539.666667    0.0000
macOS             0.000000    0.0000

In [36]:
df.groupby(['OpSys', 'Memory_Amount']).agg({'Price_euros' : 'mean'})

                            Price_euros
OpSys        Memory_Amount
Android      64              434.000000
Chrome OS    16              305.380000
             32              412.454545
             64              774.333333
             128            1275.000000
             256            1559.000000
             512            2199.000000
Linux        128             742.250000
             256             811.638125
             500             389.056364
             1024            581.401290
Mac OS X     128            1099.000000
             256            1311.994000
             512            1222.000000
No OS        128             562.140000
             256             782.989286
             500             404.675385
             512            1098.500000
             1024            540.539600
             2048            594.000000
Windows 10   8              2249.000000
             32              270.001471
             64              499.716000
             128            1026.489167
             180            1073.500000
             240            3100.000000
             256            1334.456872
             500             664.717647
             512            1911.985285
             1024            904.827906
             2048            666.947500
Windows 10 S 64              308.995000
             128            1039.000000
             256            1668.950000
             512            2589.000000
Windows 7    128            1320.323333
             180            1199.000000
             256            1846.466800
             500             924.048333
             508            1002.000000
             512            2235.396667
             1024           1539.666667
macOS        128            1119.315000
             256            1600.370000
             512            2180.870000

Задание 5*.
Ответьте на несколько вопросов
5.1 Ноутбуков каких компаний и с каким процессором 
больше?
5.2 С каким типом памяти и с каким объемом памяти 
больше ноутбуков?

In [45]:
pd.crosstab(index=df['Company'] ,columns = df['Cpu_Company']).sort_values('Intel', ascending = False)

Cpu_Company  AMD  Intel  Samsung
Company
Dell           0    297        0
Lenovo        16    281        0
HP            25    249        0
Asus          11    147        0
Acer          10     93        0
MSI            0     54        0
Toshiba        0     48        0
Apple          0     21        0
Samsung        0      8        1
Razer          0      7        0
Mediacom       0      7        0
Microsoft      0      6        0
Vero           0      4        0
Xiaomi         0      4        0
Google         0      3        0
Fujitsu        0      3        0
Chuwi          0      3        0
LG             0      3        0
Huawei         0      2        0

In [51]:
pd.crosstab(index=df['Memory_Type'] ,columns = df['Memory_Amount']).sort_values(256, ascending = False)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,512,1024,2048
Memory_Type,,,,,,,,,,,,,
SSD,1,3,6,1,76,5,1,414,0,0,120,14,0
HDD,0,0,1,1,97,0,0,85,132,0,17,227,16
FlashStorage,0,7,38,15,4,0,0,8,0,0,2,0,0
Hybrid,0,0,0,0,0,0,0,1,0,1,1,9,0